<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewRecipeClick()">New Recipe</button>
    </div>

    <div class="col-xs-12">
        <ul class="recipies">
            <!-- <app-recipe-item [routerLink]="['/recipies', i]" *ngFor="let recipe of recipies; let i = index" [recipe]="recipe"></app-recipe-item> -->
            <app-recipe-item *ngFor="let recipe of recipies; let i = index" [index]="i" [recipe]="recipe"></app-recipe-item>
        </ul>
    </div>
</div>
